In [ ]:
from datascience import *
import numpy as np
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Data 6: More Iteration

## 1. [Read, from last time] Average

**Strategy**: Keep track of counters and totals outside of the loop

In [ ]:
def average(arr):
    total = 0
    count = 0
    for element in arr:
        total += element       # shorthand for    total = total + element
        count += 1             # shorthand for    count = count + 1
    return total/count

In [ ]:
test1 = make_array(1, 2, 3, 4)
average(test1)

In [ ]:
average(np.arange(10))

## 2. [Understand] String loops
* Iteration over strings
* `not in`: equivalent to `are.not_contained_in` but for strings

In [ ]:
def consonants(word):
    output = ''
    for letter in word:
        if letter not in 'aeiou':
            output += letter
    return output

In [ ]:
unknown("supercalifragilisticexpialidocious")

## 3. [Understand] Triplets

**Strategy**: "Resetting" a counter outside of the loop

In [ ]:
def triplets(arr):
    zeros_in_sequence = 0
    triplets_seen = 0
    for elt in arr:
        if not elt:
            zeros_in_sequence += 1
            if zeros_in_sequence == 3:
                triplets_seen += 1
                zeros_in_sequence = 0    # reset, we have seen 3 0's
        else:
            zeros_in_sequence = 0        # reset, we broke a 0 streak
    return triplets_seen

In [ ]:
triplets(make_array(0, 1, 0, 0, 0, 1))

In [ ]:
triplets(make_array(0, 1, 0, 0, 1, 0, 0, 0, 0, 1))

In [ ]:
triplets(make_array(0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0))

## Practice: For-loops

In [ ]:
titanic = Table().from_df(sns.load_dataset("titanic"))
titanic

### **Task**: Find the average fare of the first-class passengers.

Using a for-loop and conditional statements:

In [ ]:
ticket_class = titanic.column("class")
ticket_fare = titanic.column("fare")

...
for i in np.arange(len(ticket_class)):
    ...

...

<details>
  <summary>Click for Solution</summary>

Various options. One reasonable approach:

```
ticket_class = titanic.column("class")
ticket_fare = titanic.column("fare")

total = 0
count = 0
for i in np.arange(len(ticket_class)):
    if ticket_class.item(i) == "First":
        total += ticket_fare.item(i) 
        count += 1
total/count
```

</details>

In [ ]:
# double-check with Table methods
titanic.where("class", "First").column("fare").mean()

# While-loops

## Repeat while the condition is *true*

In [ ]:
counter = 10
while counter > 0:
    print(counter)
    counter -= 1
print("blast off!")

### Discussion: What is the difference between these two loops?

Every for-loop can be written as a while-loop, but not vice versa!

In [ ]:
def sum_squares_for(values):
    total = 0
    for v in values:
        total += v ** 2
    return total

sum_squares_for(make_array(3, 4, 5))

In [ ]:
def sum_squares_while(values):
    total = 0
    i = 0
    while i < len(values):
        total += values.item(i) ** 2
        i += 1
    return total

sum_squares_while(make_array(3, 4, 5))

## Practice: More loops

Find the historic year where UC Berkeley enrolled a cumulative number of 1,000,000 undergraduates.

Source: https://www.universityofcalifornia.edu/about-us/information-center/historical-enrollment

In [ ]:
enrollment = Table.read_table("data/ucberkeley_enrollment.csv")
enrollment

In [ ]:
total_undergrads = 0
year_index = 0
undergrads = enrollment.column("undergrad")

while total_undergrads <= 1000000:
    total_undergrads += undergrads.item(year_index)
    year_index += 1

print('Total undergrads graduated by', enrollment.column("year").item(year_index),
      "was", total_undergrads)